* {
    margin : 0;
    padding: 0;
}

a {
    color          : #fff;
    text-decoration: none;
    transition     : 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size     : 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: linear-gradient( 89.4deg,  rgba(194,0,39,1) 0.8%, rgba(10,35,104,1) 99.4% );
}

nav {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    font-family    : Avenir-Roman, sans-serif;
    background     : #23232e;
    height         : 8vh;
}

.nav-list {
    list-style: none;
    display   : flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left   : 32px;
}


.mobile-menu {
    display: none;
    cursor : pointer;
}

.mobile-menu div {
    width     : 32px;
    height    : 2px;
    background: #fff;
    margin    : 8px;
    transition: 0.3s;
}

.Yuki {
    margin-left  : 180px;
    margin-top   : 80px;
    align-content: center;
    width        : 500px 700px;
    display      : flexbox;
    border-radius: 10px;
    box-shadow   : 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fundo-yuki {
    background     : linear-gradient(130deg, #5F9EA0, gray);
    background-size: cover;
    height         : 92vh;
    margin-top     : -3px;
}

.Momo {
    margin-left  : 240px;
    margin-top   : 80px;
    align-content: center;
    width        : 500px 700px;
    display      : flexbox;
    border-radius: 10px;
    box-shadow   : 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fundo-momo {
    background     : linear-gradient(130deg, gold, gray);
    background-size: cover;
    height         : 92vh;
    margin-top     : -3px;
}

.meninos {
    display: inline-flex;
}

.divisor {
    font-family  : Avenir-Roman, sans-serif;
    margin-left  : 30px;
    margin-top   : 100px;
    margin-right : 30px;
    opacity      : 0.91;
    font-size    : 20px;
    font-weight  : 500;
    line-height  : 36px;
    color        : #f9f9f9;
    background   : black;
    border-radius: 10px;

}

.divisor-yuki {
    font-family  : Avenir-Roman, sans-serif;
    margin-left  : 30px;
    margin-top   : 80px;
    margin-right : 30px;
    opacity      : 0.91;
    font-size    : 20px;
    font-weight  : 500;
    line-height  : 36px;
    color        : #f9f9f9;
    background   : black;
    border-radius: 10px;
    height       : 80vh;
}

.divisor p {
    margin: 20px;
}

.divisor-yuki p {
    margin: 30px;
}

h3 {
    font-family: Avenir-Roman, sans-serif;
    color      : gainsboro;
    font-style : normal;
    size       : 30px;
    line-height: 36px;
    font-weight: 700;
    margin-left: 50px;
}

.musica h2 {
    color        : #f9f9f9;
    background   : black;
    border-radius: 10px;
    opacity      : 0.91;
    width        : 50%;
}

.musica hr {
    background-image: linear-gradient(109.6deg, rgba(209, 0, 116, 1) 11.2%, rgba(110, 44, 107, 1) 91.1%);
    height          : 4px;
    width           : 50%;
}

main {
    background     : url("yuki-momo.png") no-repeat center center;
    background-size: cover;
    height         : 92vh;
}

video {
    border-style: 10px solid black;
}

.musica {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    background-size : cover;
    height          : 92vh;
}

.container-index {
    margin-left: 50px;
}